<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  
  
  <style>
      .box{
          height: 20px;
          width: 30px;
          background-color: rgb(76, 228, 134);
        
          position: absolute;

          top: 500px;
          right: 100px;
      }

      body{
          height: 10000px;
      }

    </style>    

</head>
<body>

    <div class = "box"></div>

    {{form.as_table}}

    
</body>
</html>