{% extends 'App/base.html' %}

{% block content %}
  <form method="post" class="form">
    {% csrf_token %}
    <table>{{ form_user.as_table }}</table>
    <button type="submit">Add User</button>
  </form>

  <form method="post" class="form">
    {% csrf_token %}
    <table>{{ form_aggelia.as_table }}</table>
    <button type="submit">Add Aggelia</button>
  </form>

  <form method="post" class="form">
    {% csrf_token %}
    <table>{{ form_message.as_table }}</table>
    <button type="submit">Send Message</button>
  </form>

  <form method="post" class="form">
    {% csrf_token %}
    <table>{{ form_query.as_table }}</table>
    <button type="submit">Send Query</button>
  </form>

{% endblock %}