{% extends 'App/base.html' %}

{% block content %}

<a href="/adminPage/" class="button-home">Admin Page</a>

<a href="/userLogin/" class="button-home">User LogIn</a>
<a href="/userRegister/" class="button-home">User Register</a>




    <h1>Car Sales Company</h1>


    <nav>
    <ul>
      <li><a href="#featured-cars">Featured Cars</a></li>
      <li><a href="#about-us">About Us</a></li>
      <li><a href="#contact-us">Contact Us</a></li>
    </ul>
  </nav>
  <h2 id="featured-cars">Featured Cars</h2>
  <!-- Add information about your featured cars here -->

  <div class="photo-container">    
      <div class="car-0"></div>
      <div>

          <div class="car-1"></div>
          <div class="car-2"></div>
      </div>
      </div>
  
  <footer>
    <h2 id="about-us">About Us</h2>
    <!-- Add information about your company here -->
    <p>"Welcome to Car Sales Company, your one-stop shop for all your car-buying needs. We are a family-owned business with over 10 years of experience in the industry. Our team is dedicated to providing excellent customer service and helping you find the perfect vehicle for your budget and needs. We have a wide selection of new and used cars, trucks, and SUVs to choose from, and our knowledgeable sales staff is ready to assist you every step of the way. Thank you for considering us for your car-buying journey."</p>


    <h2 id="contact-us">Contact Us</h2>
    <!-- Add contact information for your company here -->
    <p>"Thank you for your interest in Car Sales Company. We are located at 123 Main Street, Anytown USA 12345. Our showroom is open Monday through Saturday from 9:00 AM to 9:00 PM, and Sunday from 10:00 AM to 7:00 PM. You can reach us by phone at (123) 456-7890 or by email at info@carsalescompany.com. We look forward to helping you find your dream car!"</p>
  </footer>


{% endblock %}